* {
  box-sizing: border-box;
}

:root {
  --orange: #eda415;
  --grey: #f4f4f4;
  --blue: #003f62;
  --textBlue: #1b5a7d;
  --light: #fff;
  --black: #3a3a3a;
  --ocean: #2e8fc5;
  --lightBlue: #e2f4ff;
  --greyborder: #acacac;
}

p {
  font-size: 1rem;
}

#sign-in {
  background-color: var(--blue);
  color: var(--light);
}

#search-hero button {
  background-color: var(--orange);
  border: none;
  color: var(--light);
}

#search-hero .input-group {
  height: 50px;
}

#search-hero .input-group input {
  border-radius: 20px 0px 0px 20px;
}
#search-hero .input-group input::placeholder {
  padding-left: 20px;
}

#search-hero .input-group button {
  width: 100px;
  border-radius: 0 20px 20px 0;
}

#nav-bar {
  background-color: var(--grey);
}

#catagories {
  background-color: var(--orange);
}

#catagories a {
  color: var(--light);
}

#catagories .dropdown-item {
  color: var(--black);
}

#catagories a::after {
  border: solid var(--light);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 20px;
}

.free-return {
  color: var(--textBlue);
}

#sub-menu a {
  color: var(--black);
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#sub-menu a::after {
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 6px 0px 10px 10px;
}

#hero {
  position: relative;
}

#hero .alice-carousel__dots {
  position: absolute;
  bottom: 5rem;
  left: 11.5rem;
}

#hero .alice-carousel__dots .__active {
  background-color: var(--orange);
  border-color: transparent;
}

#hero .alice-carousel__dots li {
  background-color: transparent;
  border: 0.5px solid var(--textBlue);
  width: 13px;
  height: 13px;
}

#hero .row {
  height: 400px;
}

#hero .shop-btn {
  background-color: var(--orange);
  border-color: transparent;
}
#hero .view-btn {
  background-color: transparent;
  color: var(--textBlue);
  border-color: var(--blue);
}

#hero .shop-btn,
#hero .view-btn {
  width: 130px;
  border-radius: 20px;
  font-size: 0.875rem;
  padding: 15px 25px;
  font-weight: 500;
}

#hero .hero-content {
  padding-left: 100px;
  margin-top: 100px;
}

#hero .hero-image-content {
  position: relative;
}
#hero .hero-image-content img {
  position: absolute;
}
#hero .hero-image-content button {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  background-color: var(--orange);
  border-color: transparent;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  font-size: 1.375rem;
  font-weight: 600;
}

#hero-slider {
  position: relative;
}

#hero-slider .alice-carousel__prev-btn {
  position: absolute;
  left: 0;
  top: 60px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-slider .alice-carousel__next-btn {
  position: absolute;
  right: 0;
  top: 60px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-slider .alice-carousel__prev-btn:hover {
  background-color: var(--greyborder);
  transition: 2s;
}
#hero-slider .alice-carousel__next-btn:hover {
  background-color: var(--greyborder);
  transition: 2s;
}

#hero-slider .slider-item {
  height: 140px;
  border: 0.1px solid var(--greyborder);
  border-radius: 20px;
  width: 330px;
}

#hero-slider img {
  width: 100px;
}

#hero-slider .col {
  width: 130px;
}

#popular-product .alice-carousel__stage-item {
}

#popular-product .row {
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
  border: 0.1px solid var(--greyborder);
  border-radius: 20px;
}

#popular-product .col {
  /* text-align: center; */
}

#popular-product img {
  width: 200px;
  height: 180px;
}

#popular-product h6 {
  color: var(--blue);
}

#ads-section {
  background: url(./images/hero/ads.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 417px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ads-section button {
  width: 130px;
  background-color: var(--orange);
  border-color: transparent;
  border-radius: 20px;
  font-size: 0.875rem;
  padding: 15px 25px;
  font-weight: 500;
}

#ads-section .col {
  height: 417px;
}

#ads-section h1 {
  color: var(--ocean);
  font-weight: 700;
  line-height: 62px;
}

#advantage {
  background-color: var(--lightBlue);
  height: 160px;
  border-radius: 20px;
}

#advantage p,
#advantage h5 {
  margin-bottom: 0;
  color: var(--blue);
}

#sponsor {
  background-color: var(--lightBlue);
  height: 140px;
  border-radius: 20px;
}

#sponsor img {
  width: 180px;
  margin: 0 15px;
}

#hero .hero-img {
  width: 400px;
  object-fit: contain;
}

#hero h1 {
  color: var(--textBlue);
  font-weight: 700;
}
